.bottom_sweiper, .top_sweiper
  width: 380px
  overflow:hidden

.swiper-slide 
  background-size: cover
  background-position: center

.bottom_sweiper
  margin-top: 16px
  .bottom_slide
    text-align: center
    display: flex
    justify-content: center
  :global
    .swiper-slide-thumb-active
      img
        border: 1px solid #F9522E
.swiper_big_img
  width: 380px
.swiper_small_img
  width: 60px
  height: 60px
.downLoad_box
  text-align: center
  padding: 16px
.downLoad
  cursor:pointer
  background: #FEECEA
  color: #FF6150
  border: 1px solid #FFABA2
  font-size: 12px
  display: inline-block
  padding: 7px 18px

:global
  .swiper2top
    img
      height:253px
  .swiper2bottom
    img
      height 40px
  .swiper3top
    img
      height:213px
  .swiper3bottom
    img
      height 34px