.schedule_pre_week,.schedule_next_week
  cursor pointer
.schedule_week
  cursor:pointer
  display: inline-block
.schedule_week + .schedule_week
  margin-left: 10px
.schedule_active_week
  color:#F9522E
  cursor: default
