.banner_box
  height 250px
  width 100%
  background linear-gradient(270deg, rgba(31, 99, 226, 1) 0%, rgba(1, 150, 255, 1) 100%)
  color rgba(255, 255, 255, 1)
  overflow hidden
  font-size 18px
  font-family PingFangSC-Regular, PingFang SC
  font-weight 400
  color rgba(255, 255, 255, 1)
  line-height 25px
.banner_content
  width 1190px
  margin 0 auto
.banner_text
  font-size 40px
  font-family PingFang-SC-Heavy, PingFang-SC
  font-weight 800
  height 56px
  line-height 56px
  margin 81px 0 5px 0
