.super_box
  display: flex
  .price_box
    flex: 1
    .title
      background:linear-gradient(270deg,rgba(31,99,226,1) 0%,rgba(1,150,255,1) 100%);
      font-size: 16px
      color: #ffffff
      text-align: center
      padding: 10px 0
    .super_title
      background: linear-gradient(270deg,rgba(249,82,46,1) 0%,rgba(253,138,91,1) 100%);
    .bottom_font
      font-size: 12px
      color: #999
      padding: 17px
    .icon
      font-size: 20px
      margin-left: 20px
    .num
      font-size: 32px


.red
  color: #F9522E