$pageWidth = 1190px;
.purchase_box
  display: flex
  align-items: center
  flex-wrap: wrap
  width: 1220px
  margin: 40px auto
  justify-content: center
  
.box_title
  padding-bottom:7px
  position: relative
  .r_box
    float: right

.box_title_label
  font-weight: bold
  font-size: 20px
  vertical-align: middle
  margin-left:10px
  margin-right:20px

.more_link
  color:#999
  margin-left:30px

