.super_box
  display: flex
  .price_box
    flex: 1
    .title
      background:linear-gradient(270deg,rgba(31,99,226,1) 0%,rgba(1,150,255,1) 100%);
      font-size: 16px
      color: #ffffff
      text-align: center
      padding: 10px 0
    .hot
      text-align: left 
      background: linear-gradient(270deg,rgba(255,1,136,1) 0%,rgba(137,31,226,1) 100%);
      padding: 10px 20px
      display: flex
      align-items: center
      justify-content: space-between
    .bottom_font
      font-size: 12px
      color: #999
      padding: 17px
    .icon
      font-size: 20px
      margin-left: 20px
    .num
      font-size: 32px
      margin-right: 20px

.time_box
  display: flex
  align-items: center
  font-size: 14px
  .runsecond_box
    margin-left: 10px
    var
      background: #fff
      color: #000
.red
  color: #F9522E